@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    font-family: Poppins;
}

body {
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;

    background: #1F2532;
}

html {
    scroll-behavior: smooth;
}


body::-webkit-scrollbar {
    scrollbar-width: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.text-logo h3 {
    text-transform: uppercase;
    font-family: Poppins;
    font-size: 23px;
    background: linear-gradient(180deg, #F4A600 0%, #59400A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav a {
    color: white;
    position: relative;
}

nav a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #F4A600;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

.btn-login {

    border: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(90deg, #F4A600 0%, rgba(116, 77, 3, 0.73) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}


/* Main */

main {
    height: 100vh;
    width: 100vw;
}

.hero {
    height: 100%;

    align-items: center;
    justify-content: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 2rem;

    gap: 5rem;
}


.girl-img img {
    width: 430px;
    margin-left: 5rem;
    margin-bottom: 4rem;
}

.texts {
    margin-bottom: 7rem;
}

.img-topo, .txt-topo, .titulo, .card-effect1, .card-effect2, .card-effect3 {
    visibility: hidden;
}

.texts h1 {
    color: var(--Color, #FFF);
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 1rem;

}

.texts h3 {
    color: white;
    font-weight: normal;
    margin-bottom: 2rem;
}

.number-text {
    color: var(--Color, #F4A600);
}

.texts p {
    color: white;
    font-weight: lighter;
    margin-bottom: 3rem;
}

.btn-about {
    width: 230px;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: white;

    background: linear-gradient(90deg, #F4A600 0%, rgba(116, 77, 3, 0.73) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* section 2*/

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    margin-left: 3rem;
}

.about h2 {
    text-align: center;
    color: var(--Color, #FFF);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}



.card {
    width: 350px;
    height: 560px;

    border-radius: 10px;
    background: rgba(32, 38, 50, 0.50);
    box-shadow: 20px 30px 60px 0px #201E19;
}
.card img {
    width: 350px;
}

.card h3 {
    font-family: Poppins;
    font-size: 24px;
    text-align: center;
    background: linear-gradient(90deg, #F4A600 0%, #59400A 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    margin-bottom: 1rem;
}

.card p {
    padding-left: 3rem;
    color: var(--Color, #FFF);
    font-family: Poppins;
    font-size: 15px;
}

@media (max-width: 360px) {
    .about {
        display: flex;
        justify-self: center;
    }

    .text-about h2 {
        text-align: center;
        font-size: 1.5rem;
        margin-right: 5rem;
    }

}